/* Підключення шрифтів */
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts//Epilogue-Regular.ttf') format('ttf');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-SemiBold.ttf') format('ttf');
    font-weight: 600;
    /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Light.ttf') format('ttf');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

/* Reset styles------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* html {
    scroll-behavior: smooth;
} */

/* p:last-child {
    margin-bottom: 0;
} */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    /* color: currentColor; */
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Epilogue", sans-serif;
    color: #141414;
    background-color: #fbfbfb;
}



/* .container {
    width: 100%;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
} */

/* @media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        padding: 0 52px;
    }
} */




/* body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
} */

/* ------------------------------------------------------------------------ */

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    outline: 1px solid blue;
}

/* Mobile version-------------------------------------------------------------------- */


/* About---------------------- */

.about {
    max-width: 375px;
}

.about-title {
    padding-bottom: 40px;

    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;

    color: #1e2827;
}

.about-list {
    padding-bottom: 40px;
}

.about-item:not(:last-child) {
    padding-bottom: 20px;
}

.about-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #141414;
}

.about-img {
    outline: 1px solid red;
}